name: Release

on:
  push:
    branches:
      - main
      - master

jobs:
  analyze-commits:
    runs-on: ubuntu-latest
    outputs:
      version-next: ${{ steps.next-version.outputs.release-version }}
      version-next-tag: ${{ steps.next-version.outputs.release-tag }}
      version-next-type: ${{ steps.next-version.outputs.release-type }}
    steps:
      - uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo: true
          egress-policy: audit
          allowed-endpoints: >
            github.com:443

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #6.0.2
      
      - name: "Setup Node"
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 #6.2.0
        with:
          node-version: 24
      
      - name: Install dependencies
        run: yarn global add semantic-release @semantic-release/changelog @semantic-release/git @semantic-release/github @semantic-release/exec @semantic-release/release-notes-generator @semantic-release/commit-analyzer conventional-changelog-conventionalcommits
      
      - name: Get next version
        id: next-version
        run: semantic-release --dryRun
        env:
          GITHUB_TOKEN: ${{ secrets.WEAREFRANK_BOT_PAT }}
          GH_TOKEN: ${{ secrets.WEAREFRANK_BOT_PAT }}

  ci:
    uses: wearefrank/ci-cd-templates/.github/workflows/ci-generic.yml@ccdadddd25f58e57826be3865961e241c9b8ee17 #2.1.5
    needs: analyze-commits
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    if: ${{ needs.analyze-commits.outputs.version-next-type != '' }}
    with:
      version: ${{ needs.analyze-commits.outputs.version-next }}

  release:
    runs-on: ubuntu-latest
    needs: 
      - analyze-commits
      - ci
    steps:
      - uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #6.0.2
        with:
          token: ${{ secrets.WEAREFRANK_BOT_PAT }}

      - name: Download Pre-build Artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 #7.0.0
        with:
          pattern: pre-build-*
          merge-multiple: true
  
      - name: Download Build Artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 #7.0.0
        with:
          pattern: build-*
          merge-multiple: true

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 #6.2.0
        with:
          node-version: 24
      
      - name: Install dependencies
        run: yarn global add semantic-release @semantic-release/changelog @semantic-release/git @semantic-release/github @semantic-release/exec @semantic-release/release-notes-generator @semantic-release/commit-analyzer conventional-changelog-conventionalcommits
      
      - name: Semantic Release
        run: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.WEAREFRANK_BOT_PAT }}
          GH_TOKEN: ${{ secrets.WEAREFRANK_BOT_PAT }}

  docker-release:
    uses: wearefrank/ci-cd-templates/.github/workflows/docker-release-generic.yml@ccdadddd25f58e57826be3865961e241c9b8ee17 #2.1.5
    needs: 
      - analyze-commits
      - release
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    with:
      version: ${{ needs.analyze-commits.outputs.version-next }}

  docusaurus-release:
    permissions:
      contents: read
      pages: write
      id-token: write
    needs: 
      - release
    # Set to true to enable Docusaurus publishing to GitHub Pages
    if: false
    uses: wearefrank/ci-cd-templates/.github/workflows/docusaurus-release.yml@ccdadddd25f58e57826be3865961e241c9b8ee17 #2.1.5
